@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    font-family: "Public Sans", sans-serif;
    font-family: "DM Serif Display", serif;
    --primary-dark-pink: #ba4270;
    --primary-link-water-white: #fbfcfe;
    --secondary-San-Juan-Blue: #36536b;
    --secondary-Mirage-Blue: #1b262f;
    --secondary-charm-pink-actives: #da6d97;
    --secondary-Light-San-Juan-Blue: #6c8294;

    --hgroup-large-font_family: "DM Serif Display", serif;
    --h1-large-size: 72px;
    --hgroup-large-weight: 400;
    --h1-large-line_height: 72px;

    --h1-small-size: 56px;
    --h1-small-line_height: 56px;

    --h2-size: 48px;
    --h2-line_height: 56px;

    --h3_big-large-size: 32px;
    --h3_big-line_height: 40px;

    --h3_small-font_family: "Public Sans", sans-serif;
    --h3_small-size: 18px;
    --h3_small-font_weight: 700;
    --h3_small-line_height: 25px;

    --h4-size: 24px;
    --h4-line_height: 32px;

    --p-font_family: "Public Sans", sans-serif;
    --p-size: 15px;
    --p-line_height: 28px;
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 40px 24px 12rem 24px;
    background-color: #d2dbe4;
    border-radius: 0 0 35% 35%;   
}
nav {
    display: none;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1 {
    text-align: center;
}
#phone {
    transform: translate(25%, -40%);
}