@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
:root {
	font-family: "Public Sans", sans-serif;
	font-family: "DM Serif Display", serif;
	--primary-dark-pink: #ba4270;
	--primary-link-water-white: #fbfcfe;
	--secondary-San-Juan-Blue: #36536b;
	--secondary-Mirage-Blue: #1b262f;
	--secondary-charm-pink-actives: #da6d97;
	--secondary-Light-San-Juan-Blue: #6c8294;

	--hgroup-large-font-family: "DM Serif Display", serif;
	--h1-large-size: 72px;
	--hgroup-large-weight: 400;
	--h1-large-line-height: 72px;

	--h1-small-size: 56px;
	--h1-small-line-height: 56px;

	--h2-size: 48px;
	--h2-line-height: 56px;

	--h3-big-large-size: 32px;
	--h3-big-line-height: 40px;

	--h3-small-font-family: "Public Sans", sans-serif;
	--h3-small-size: 18px;
	--h3-small-font-weight: 700;
	--h3-small-line-height: 25px;

	--h4-size: 24px;
	--h4-line-height: 32px;

	--p-font-family: "Public Sans", sans-serif;
	--p-size: 15px;
	--p-line-height: 28px;

	--font-weight-bold: 700;
	--font-weight-thin: 400;
}
body {
	overflow-x: hidden;
	background-color: #edf3f8;
}
header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 40px 24px 8.5rem 24px;
	background-color: #d2dbe4;
	border-radius: 0 0 50% 50%;
	margin-bottom: 144px;
}
nav {
	display: none;
}
form {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
h1 {
	text-align: center;
	line-height: 36px;
	font-size: 32px;
	font-weight: var(--font-weight-thin);
	color: var(--secondary-San-Juan-Blue);
	margin-bottom: 24px;
}
section {
	display: flex;
	flex-direction: column;
}
.email {
	border: none;
	border-radius: 24px;
	background-color: rgba(251, 252, 254);
	padding: 16px 0px 14px 27px;
	font-family: var(--p-font-family);
	font-weight: var(--font-weight-bold);
	font-size: var(--p-size);
	-webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
	box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
}
.email::placeholder {
	opacity: 50%;
	color: var(--secondary-San-Juan-Blue);
}
a {
	text-decoration: none;
	color: rgba(54, 83, 107, 0.7);
	font-family: var(--p-font-family);
	font-weight: var(--font-weight-bold);
}
.question {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	color: var(--secondary-Light-San-Juan-Blue);
	font-weight: var(--font-weight-thin);
	font-family: var(--p-font-family);
	margin-top: 24px;
	margin-bottom: 79px;
}
.first-sect {
	padding: 0 24px;
}
.second-sect {
    display: flex;
    flex-direction: column;
    align-items: center;
	background-color: var(--secondary-Mirage-Blue);
	padding: 80px 24px;
}
#phone {
	transform: translate(18%, -42%);
}
.circle {
	display: none;
}
.div-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 39px;
    margin-bottom: 56px;
}
h2 {
    color: var(--primary-link-water-white);
    font-size: var(--h3-big-large-size);
    font-weight: var(--font-weight-thin);
    margin-bottom: 16px;
}
.first-para {
    text-align: center;
    font-weight: var(--font-weight-thin);
    color: var(--primary-link-water-white);
    opacity: 70%;
    font-size: var(--p-size);
    font-family: var(--p-font-family);
    margin-bottom: 60px;
    line-height: var(--p-line-height);
}
@media screen and (min-width: 321px) {
	header {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		padding: 40px 40px 10rem 39px;
		margin-bottom: 198px;
	}
	nav {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 50px;
		font-family: "Public Sans", sans-serif;
		font-weight: var(--font-weight-bold);
	}
	.first-sect {
		padding: 0 98px 0 97px;
	}
	section {
		display: flex;
		flex-direction: column;
		gap: 24px;
		width: 100%;
	}
	h1 {
		display: flex;
		margin: auto;
		width: 100%;
	}
	form {
		flex-direction: row;
		align-items: center;
		gap: 0;
	}
	.email {
		position: relative;
		left: 100px;
		width: 60%;
	}
	ul {
		display: flex;
		gap: 40px;
		list-style: none;
		font-size: var(--p-size);
	}
	.question {
		margin-top: -10px;
	}
	a {
		text-decoration: none;
		color: rgba(54, 83, 107, 0.7);
	}
	#phone {
		transform: translate(100%, -42%);
	}
	#burger {
		display: none;
	}
    .div-grid {
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 64px;
    }
    .second-sect {
        padding: 88px 116px;
    }
    h2 {
        line-height: var(--h2-line-height);
        font-size: var(--h2-size);
        margin-bottom: 24px;
    }
    .first-para {
        width: 80%;
        margin-bottom: 32px;
    }
    .second-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (min-width: 769px) {
	body {
		z-index: 1;
	}
	header {
		z-index: 1;
		border-radius: 0 0 0% 0%;
		padding: 40px 165px 0 165px;
		background-color: #edf3f8;
	}
	h1 {
		text-align: start;
		width: 40%;
		font-size: var(--h1-large-size);
		line-height: var(--h1-large-line-height);
		margin-right: 750px;
	}
	section {
		flex-direction: column;
	}
	a:hover {
		color: var(--secondary-San-Juan-Blue);
	}
	form {
		z-index: 1;
		align-items: start;
		flex-direction: row;
	}
	.email {
		width: 30%;
	}
	nav {
		z-index: 1;
		gap: 650px;
	}
	#phone {
		transform: translate(400%, -2%);
	}
	.question {
		margin-right: 900px;
	}
	.circle {
		z-index: 0;
		display: block;
		position: absolute;
		right: -152px;
		top: -112px;
		background-color: #d2dbe4;
		height: 780px;
		width: 780px;
		border-radius: 50%;
	}
    .div-grid {
        transform: scale(1.5);
        margin: auto;
    }
    .second-sect {
        flex-direction: row-reverse;
        padding: 100px 163px 100px 165px;
    }
    .second-div {
        align-items: start;
        width: 50%;
    }
    h2 {
        text-align: start;
    }
    .first-para {
        text-align: start;
        width: 70%;
    }
}