:root {
	--buttons-border-radius: 24px;
	--primary-button-padding-demo: 16px 24.5px 14px 26.5px;
	--normal-state-light-background-color-demo: #ba4270;
	--normal-state-light-color-demo: #fbfcfe;

	--hover-state-light-background-color-demo: #d96d97;
	--hover-state-light-color-demo: #fbfcfe;

	--disabled-state-light-background-color-demo: #dca1b7;
	--disabled-state-light-color-demo: #fbfcfe;

	--secondary-button-padding-light-about: 16px 32px 14px 32px;
	--normal-state-light-color-about: #fbfcfe;
	--normal-state-light-border-about: 1px solid #fbfcfe;
	--normal-state-light-background-color-about: #1b262f;

	--hover-state-light-color-about: #1b262f;
	--hover-state-light-border-about: 1px solid #fbfcfe;
	--hover-state-light-background-color-about: #ffffff;

	--disabled-state-light-color-about: #8d9097;
	--disabled-state-light-border-about: 1px solid #8d9097;
	--disabled-state-light-background-color-about: #1b262f;

	--secondary-button-padding-dark-submit: 16px 25px 14px 28px;
	--normal-state-dark-color-submit: #36536b;
	--normal-state-dark-border-submit: 1px solid #36536b;
	--normal-state-dark-background-color-submit: #ffffff;

	--hover-state-dark-color-submit: #ffffff;
	--hover-state-dark-border-submit: 1px solid #36536b;
	--hover-state-dark-background-color-submit: #36536b;

	--disabled-state-dark-color-submit: #9ba9b4;
	--disabled-state-dark-border-submit: 1px solid #9ba9b4;
	--disabled-state-dark-background-color-submit: #ffffff;
}

.button-primary-light-nav {
	border-radius: var(--buttons-border-radius);
	padding: var(--primary-button-padding-demo);
	background-color: var(--normal-state-light-background-color-demo);
	border: none;
}
.button-primary-light, .button-primary-light-ready  {
	border-radius: var(--buttons-border-radius);
	padding: var(--primary-button-padding-demo);
	background-color: var(--normal-state-light-background-color-demo);
	border: none;
}
.schedule {
	color: var(--normal-state-light-color-demo);
}
.button-normal-state-light-about {
	border-radius: var(--buttons-border-radius);
	padding: var(--secondary-button-padding-light-about);
	background-color: var(--normal-state-light-background-color-demo);
	border: var(--normal-state-light-border-about);
	background-color: var(--normal-state-light-background-color-about);
}
.about {
	color: var(--normal-state-light-color-about);
}
@media screen and (min-width: 321px) {
	.button-primary-light {
		position: absolute;
		right: 150px;
		border-radius: var(--buttons-border-radius);
		padding: var(--primary-button-padding-demo);
		background-color: var(--normal-state-light-background-color-demo);
		border: none;
	}
	.button-primary-light-ready {
		position: absolute;
		right: 18%;
	}
}

@media screen and (min-width: 769px) {
	.button-primary-light {
		z-index: 2;
		position: absolute;
		right: 60%;
		border-radius: var(--buttons-border-radius);
		padding: var(--primary-button-padding-demo);
		background-color: var(--normal-state-light-background-color-demo);
		border: none;
	}
	.button-primary-light-ready {
		z-index: 2;
		position: absolute;
		right: 9.8%;
		border-radius: var(--buttons-border-radius);
		padding: var(--primary-button-padding-demo);
		background-color: var(--normal-state-light-background-color-demo);
		border: none;
	}
}
