:root {
    --check-box-normal: #cdd4da;

    --check-box-activate: #ba4270;
    --check-box-color_check-activate: #ffffff;

    --check-box-disabled: #f5f6f8;
}
.label-checkbox-contact {
    display: flex;
    align-items: center;
    font-family: "Public Sans", sans-serif;
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    gap: 26px;
    color: #36536b;
}
.checkbox-contact {
    height: 24px;
    width: 24px;
    accent-color: var(--check-box-activate);
}


@media screen and (min-width: 321px){
    .label-checkbox-contact {
        margin-right: 20%;
        width: 40%;
    }
}