
:root {
    --text-field-label-normal: #9ba9b4;
    --text-field-border_bottom-normal: #9ba9b4;

    --text-field-label-activate: #3a5266;
    --text-field-border_bottom-activate: #3a5266;

    --text-field-label-error: #ef8787;
    --text-field-border_bottom-error: #ef8787;

    --text-area-label-normal: #9ba9b4;
    --text-area-border_bottom-normal: #9ba9b4;

    --text-area-label-activate: #3a5266;
    --text-area-border_bottom-activate: #3a5266;

    --text-area-label-error: #ef8787;
    --text-area-border_bottom-error: #ef8787;

}

